<div class="carpool-detail-container">
  @if (carpoolDetails) {
    <h2 class="carpool-title">Carpool's  details</h2>
    <div class="carpool-info">
      <!-- Informations de base -->
      <div class="info-section">
        <h3 class="section-subtitle">Carpool's informations</h3>
        <div class="info-grid">
          <p><strong>Departure :</strong> {{ carpoolDetails.carpoolDeparture }}</p>
          <p><strong>Destination :</strong> {{ carpoolDetails.carpoolDestination }}</p>
          <p><strong>Date :</strong> {{ carpoolDetails.carpoolDate }}</p>
          <p><strong>time :</strong> {{ carpoolDetails.carpoolTime }}</p>
          <p><strong>Capacity :</strong> {{ carpoolDetails.carpoolCapacity }}</p>
          <p><strong>Conditions :</strong> {{ carpoolDetails.carpoolCondition }}</p>
          <p><strong>Price :</strong> {{ carpoolDetails.carpoolPrice }} TND</p>
          <p><strong>license Plate :</strong> {{ carpoolDetails.licensePlate }}</p>
          <p>
            <strong>Carpool Statut :</strong>
            <span class="{{ carpoolDetails.carpoolStatus === 'available' ? 'status-available' : 'status-unavailable' }}">
              {{ carpoolDetails.carpoolStatus }}
            </span>
          </p>        </div>
      </div>

      <!-- Informations sur l'offreur -->
      @if (offererDetails) {
        <div class="info-section">
          <h3 class="section-subtitle">Offerer's informations</h3>
          <div class="info-grid">
            <p><strong>First name :</strong> {{ offererDetails.firstName }} </p>
            <p><strong>Last Name :</strong>{{ offererDetails.lastName }}</p>
          </div>
        </div>
      }

      <!-- Liste des participants -->
      @if (carpoolDetails.simpleUserJoin && carpoolDetails.simpleUserJoin.length > 0) {
        <div class="info-section">
          <h3 class="section-subtitle">Participants</h3>
          <ul class="participants-list">
            @for (user of carpoolDetails.simpleUserJoin ; track user.userId) {
              <li>{{ user.firstName }} {{ user.lastName }} ({{ user.email }})</li>
            }
          </ul>
        </div>
      }
    </div>

    <!-- Bouton pour rejoindre le covoiturage -->
    <div class="button-container">
      <button class="btn btn-join" (click)="joinCarpool()" [disabled]="carpoolDetails.carpoolCapacity <= 0">
        {{ carpoolDetails.carpoolCapacity <= 0 ? 'Complet' : 'Rejoindre ce covoiturage' }}
      </button>
    </div>

    <!-- Messages d'erreur et de succès -->
    @if (errorMessage) {
      <div class="alert alert-danger">
        {{ errorMessage }}
      </div>
    }

    @if (successMessage) {
      <div class="alert alert-success">
        {{ successMessage }}
      </div>
    }
  } @else if (!errorMessage) {
    <div class="loading">
      Chargement en cours...
    </div>
  }
</div>
