<div class="damaged-parcels-container">
  <h2>Damaged Parcels</h2>
  
  <div class="parcels-grid">
    <div *ngFor="let parcel of damagedParcels" class="parcel-card">
      <div class="card-image" *ngIf="parcel.damageImageUrl">
        <img [src]="parcel.damageImageUrl" alt="Damaged parcel" class="damage-image">
      </div>
      <div class="card-content">
        <div class="damage-description">
          <p>{{ parcel.damageDescription || 'No description provided' }}</p>
        </div>
        <div class="report-date">
          <mat-icon>calendar_today</mat-icon>
          <span>{{ parcel.damageReportedAt | date:'medium' }}</span>
        </div>
      </div>
    </div>
  </div>
</div>