<div class="container">
  <h2><i class="bi bi-car-front"></i> Carpools </h2>

  <div *ngIf="hasRecommendations" class="mb-3">
    <button class="btn btn-outline-primary" (click)="showRecommendations = !showRecommendations" style="margin-left: 485px;">
      <i class="bi bi-star"></i>
        {{ showRecommendations ? 'Hide' : 'see ' }} recommandations
    </button>
  </div>

  <!-- Bloc recommandations -->
  <div *ngIf="hasRecommendations && showRecommendations" class="row">
    <h3 class="mb-3">🚗 Reccomended Carpools</h3>
    <div *ngFor="let carpool of recommendedCarpools" class="col-md-4 mb-3">
      <div class="carpool-card">
        <div class="route">
          <div class="cities">{{ carpool.carpoolDeparture }}</div>
          <div class="arrow"><i class="bi bi-arrow-right text-white"></i></div>
          <div class="cities">{{ carpool.carpoolDestination }}</div>
          <div class="price">{{ carpool.carpoolPrice }} TND</div>
        </div>
        
        <div class="details">
          <div class="date"> <i class="bi bi-calendar-date me-2"></i>{{ carpool.carpoolDate }}</div>
          
          <div class="departure">
            <span class="departure-icon"><i class="bi bi-stopwatch"></i></span>
            <span>{{ carpool.carpoolTime }}</span>
          </div>
          
          <div class="seats">
            <span class="seats-icon"><i class="bi bi-people"></i></span>
            <span>{{ carpool.carpoolCapacity }} remaining places </span>
          </div>
          
          <button class="book-btn" [routerLink]="['/carpooling', carpool.carpoolId]">More details</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Loading et erreur -->
  <div *ngIf="isLoading" class="alert alert-info" role="alert">
    carpools Loading ...  
  </div>
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    {{ errorMessage }}
  </div>

  <!-- Filtres -->
  <div class="filter-container mb-4">
    <div class="row g-2 align-items-end">
      <div class="col-md-3">
        <input type="text" class="form-control" placeholder="Départ" [(ngModel)]="filters.departure">
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control" placeholder="Destination" [(ngModel)]="filters.destination">
      </div>
      <div class="col-md-3">
        <input type="date" class="form-control" [(ngModel)]="filters.date">
      </div>
      <div class="col-md-1">
        <i style="color: black;" class="bi bi-search"></i>
      </div>
    </div>
  </div>

  <!-- Futurs trajets -->
  <div class="row">
    <div *ngFor="let carpool of filteredCarpools" class="col-md-4 mb-3">
      <div class="carpool-card">
        <div class="route">
          <div class="cities">{{ carpool.carpoolDeparture }}</div>
          <div class="arrow"><i class="bi bi-arrow-right text-white"></i></div>
          <div class="cities">{{ carpool.carpoolDestination }}</div>
          <div class="price">{{ carpool.carpoolPrice }} TND</div>
        </div>
        
        <div class="details">
          <div class="date"> <i class="bi bi-calendar"></i>  {{ carpool.carpoolDate }}</div>
          
          <div class="departure">
            <span class="departure-icon"><i class="bi bi-stopwatch"></i></span>
            <span>{{ carpool.carpoolTime }}</span>
          </div>
          
          <div class="seats">
            <span class="seats-icon"><i class="bi bi-people"></i></span>
            <span>{{ carpool.carpoolCapacity }} remaining places</span>
          </div>
          
          <button class="book-btn" [routerLink]="['/carpooling', carpool.carpoolId]">more details</button>
        </div>
      </div>
    </div>
  </div>
</div>